<!DOCTYPE html>
<html>
<!-- служебная часть -->

<head>
  <title>О создателях</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="../static/css/normalize.css">
  <link rel="stylesheet" href="../static/css/style.min.css">
  <link rel="stylesheet" href="../static/css/header_and_footer.css">
  <style type="text/css">
    img {
      max-width: 100%;
      max-height: 100%;
    }

    h1 {
      color: black;
      font-size: 50px;
      margin-top: 30px;
      margin-bottom: 20px;
    }

    h2 {
      color: black;
      margin-top: 40px;
      margin-bottom: 20px;
    }

    p {
      color: black;
      font-size: 18px;
    }

  </style>
</head>

<body>
  <nav class="main-navigation">
    <div class="main-navigation-wrapper">
    <div class="container">
        <ul class="site-navigation">
            <li><a href="index.html">
                <img src="../static/img/main_logo_white.jpg" alt="WHOC Shop logo" width="40" height="40"></a></li>
            <li><a href="#">Новости</a></li>
            <li><a href="../templates/about_us.html">О сайте</a></li>
            <li><a href="../templates/creators.html">О авторах проекта</a></li>
        </ul>
        <ul class="user-navigation">
        <li><a class="login-link" href="form.html">Вход</a></li>
        </ul>
    </div>
    </div>
  </nav>
  <a class="main-header-logo" href="index.html">
        <img src="../static/img/main_logo.jpg" alt="WHOC Shop logo" width="410" height="255">
  </a>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1>Nemo_Semi</h1>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
        <p>Переконопатил шаблон сайта, оставив от него только css часть. Умер во время обучения css за 3 дня
        </p>
      </div>
      <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
        <img src="../static/img/Nemo_Semi.jpg">
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1>VA</h1>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
        <p>Забыл зарядник на работе и был вынужден писать на мамином ноутбуке с неработающим GitHub</p>
      </div>
      <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
        <img src="../static/img/VA.jpg">
      </div>
    </div>
  </div>
  <div class="main-footer">
    <div class="container">
      <address class="footer-address">
        Барбершоп «Бородинский» <br>
        Адрес: Г. Санкт-Петербург, ул. Б. Конюшенная, Д. 19/8 <br>
        <a href="map.html">Как нас найти?</a> <br>
        Телефон: <a href="tel:+74956660266">+7 (495) 666-02-66</a>
      </address>

      <div class="footer-copyright">
        <b>Разработано:</b>
        <a class="button" href="https://htmlacademy.ru/">HTML Academy</a>
      </div>
    </div>
  </div>
</body>
</html>