<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
  <title>Редактировать профиль</title>
  <link href="https://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700&amp;subset=cyrillic" rel="stylesheet">
  <link rel="stylesheet" href="../static/css/normalize.css">
  <link rel="stylesheet" href="../static/css/style.min.css">
  <link rel="stylesheet" href="../static/css/header_and_footer.css">
</head>
<body>
    <nav class="main-navigation">
    <div class="main-navigation-wrapper">
    <div class="container">
        <ul class="site-navigation">
            <li><a href="/">
                <img src="../static/img/main_logo_white.jpg" alt="WHOC Shop logo" width="40" height="40"></a></li>
            <li><a href="../templates/news.html">Новости</a></li>
            <li><a href="../templates/catalog.html">Каталог</a></li>
            <li><a href="../templates/creators.html">Об авторах проекта</a></li>
        </ul>
        <ul class="user-navigation">
          {% if current_user.is_authenticated %}
              <a class="btn btn-primary " href="../templates/user.html">{{ current_user.name }}</a>
              <a class="login-link" href="/logout">Выход</a>
          {% else %}
            <p>
              <a class="btn btn-primary " href="/register">Зарегистрироваться</a>
              <li><a class="login-link" href="/login">Вход</a></li>
            </p>
          {% endif %}
        </ul>
    </div>
    </div>
  </nav>
    <form action="" method="post">
        <center><p class="h_about">Немного о себе:</p></center>
        <center><p><textarea name="aboutme" class="about_me" maxlength="250"></textarea></p></center>
        <center><input style="text-align: center;" type="submit"></center>
    </form>
    <center><hr style="clear: both; width: 30%; margin-top: 100px;"></center>
    <br>
</body>
</html>