<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <title>Барбершоп "Бородинский</title>
  <link href="https://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700&amp;subset=cyrillic" rel="stylesheet">
  <link rel="stylesheet" href="../static/css/normalize.css">
  <link rel="stylesheet" href="../static/css/style.min.css">
  <link rel="stylesheet" href="../static/css/header_and_footer.css">
</head>

<body>

  <nav class="main-navigation">
    <div class="main-navigation-wrapper">
    <div class="container">
        <ul class="site-navigation">
            <li><a href="../templates/index.html">
                <img src="../static/img/main_logo_white.jpg" alt="WHOC Shop logo" width="40" height="40"></a></li>
            <li><a href="#">Новости</a></li>
            <li><a href="../templates/about_us.html">О сайте</a></li>
            <li><a href="../templates/creators.html">О авторах проекта</a></li>
        </ul>
        <ul class="user-navigation">
        <li><a class="login-link" href="form.html">Вход</a></li>
        </ul>
    </div>
    </div>
  </nav>
  <a class="main-header-logo" href="../templates/index.html">
        <img src="../static/img/main_logo.jpg" alt="WHOC Shop logo" width="410" height="255">
  </a>

  <main>
    <div class="container">
      <section class="advantages">
        <h2 class="visually-hidden">Преимущества</h2>
        <ul class="advantages-list">
          <li class="advantages-item">
            <h3>Эффективно</h3>
            <p>Быстрая и оптимизированная работа сайта</p>
          </li>
          <li class="advantages-item">
            <h3>Надёжно</h3>
            <p>Мы сделаем всё, чтобы ваша сделка осталась безопасной</p>
          </li>
          <li class="advantages-item">
            <h3>С заботой</h3>
            <p>Нам важем каждый покупатель и его мнение!</p>
          </li>
        </ul>
      </section>
    </div>
    {% for i in previews %}
    {{ i }}
    {% endfor %}
  <!-- Сюды будешь отрисовывать циклом товары через шаблон, который лежит в preview_of_item.html-->
  </main>

  <div class="main-footer">
    <div class="container">
      <address class="footer-address">
        Барбершоп «Бородинский» <br>
        Адрес: Г. Санкт-Петербург, ул. Б. Конюшенная, Д. 19/8 <br>
        <a href="map.html">Как нас найти?</a> <br>
        Телефон: <a href="tel:+74956660266">+7 (495) 666-02-66</a>
      </address>

      <div class="footer-copyright">
        <b>Разработано:</b>
        <a class="button" href="https://htmlacademy.ru/">HTML Academy</a>
      </div>
    </div>
  </div>
</body>

</html>