<div class="index-columns">
    <section class="contacts">
        <h2 class="visually-hidden">Изображения товара</h2>
            <img src="#сюда превью-фото товара#" alt="Превью-фото" width="430">
    </section>

    <section class="appointment" style="margin-left: 140px;">
      <form class="appointment-form" action="https://echo.htmlacademy.ru" method="post">
        <h2>#сюда название товара#</h2>
        <a class="contacts-address">#сюда описание товара#<a/>
        <a class="button contacts-button-map" href="../templates/item.html">Перейти к товару</a>
      </form>
    </section>
  </div>
</div>